/* Default variables */
:root {
    --bg-color: white;
    --text-color: black;
    --card-color: #f4f4f4;
}

/* Light Theme */
.light {
    --bg-color: white;
    --text-color: black;
    --card-color: #f4f4f4;
}

/* Dark Theme */
.dark {
    --bg-color: #121212;
    --text-color: white;
    --card-color: #1e1e1e;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    transition: 0.3s ease;
}

.container {
    padding: 40px;
    background-color: var(--card-color);
    margin: 50px auto;
    width: 50%;
    text-align: center;
    border-radius: 10px;
}

button {
    background-color: rgb(185, 22, 22);
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    color: black;
    border: none;
    border-radius: 5px;
}
